<include href="views/header.html"></include>

<body>
    <h1>Order a Pet</h1>

    <form action="#" method="post" name="pet">
        <label for="type"> What kind of pet would you like?</label>
        <input type="text" id="type" name="pet">
        <br>

        <label for="color"> Select a color</label>
        <select id="color" name="color">
            <option> Red </option>
            <option> Yellow </option>
            <option> Blue </option>
        </select>

        <input type="submit" class="d-flex justify-content-center btn btn-success" name="submit-order">
    </form>

</body>